language: ruby
cache: bundler
sudo: false
rvm:
- 2.3
- 2.4
- 2.5
- 2.6
- 2.7
env:
- TASK=test
matrix:
  include:
  - rvm: 2.3 # keep same as lowest ruby version
    env: TASK=rubocop
script: bundle exec rake $TASK
branches:
  only: master
before_install: ruby -e "File.write('Gemfile.lock', File.read('Gemfile.lock').split('BUNDLED WITH').first)"
